<template>
  <footer class="text-muted mt-4 md-4">
    <hr/>
    <div class="container">
      <div class="row justify-center">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 text-center">
            <a href="http://kohovolit.eu" title="KohoVolit.eu" id="footer-kohovolit-logo" target="_blank"><img src="https://volebnakalkulacka.azureedge.net/image/logo.png" alt="logo kohovolit.eu"></a>
              <p class="lead black">Volební kalkulačky <sup><a href="https://isdv.upv.cz/webapp/resdb.print_detail.det?pspis=OZ/542865&plang=CS" target="_blank">®</a></sup> pro Vás už od roku 2006 vytváří občanské sdružení <a href="http://kohovolit.eu" target="_blank">KohoVolit.eu</a></p>
            <hr/>
              <p class="black">Creative Commons BY NC 4.0 | <a href="http://kohovolit.eu" id="footer-kohovolit-licence">KohoVolit.eu</a> 2021</p>
            <p class="black">Vyrobeno s ❤ v <a href="https://cs.wikipedia.org/wiki/Plasy">Plasích</a></p>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>

</script>

<style scoped>
  a { 
    text-decoration: none; 
  }
</style>