<template>
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <NuxtLink class="navbar-brand" to="/">Inventura hlasování 2017-2021</NuxtLink>
    
      <Menu />
      
    </div>
  </nav>
</template>

<script>
import Menu from "~/components/Menu.vue";

export default {
  components: {
    Menu
  }
};
</script>
