<template>
  <div>
    <div id="on-screen">
      <Header />
      <Nuxt />
      <br/>
    </div>
    <div id="off-screen">
      <Analytics />
    </div>
  </div>
</template>

<script>
import Header from "~/components/Header.vue"
import Analytics from "~/components/Analytics.vue"

export default {
  components: {
    Header,
    Analytics
  }
};
</script>

<style>
  #on-screen {
    min-height: 50vh;
  }

  .navbar.bg-primary {
    border-color: #704141;
  }
  .bg-primary {
    background-color: #A05D5D!important;
  }

/* CSS styly pro mobilní zobrazení */

@media screen and (max-width: 490px) {

.navbar-brand {
    width: 70%;
    font-size: 1rem;
    line-height: 1rem;
}

.container {
    padding: 0;
}

.h2, h2 {
    font-size: 1.1rem;
}

.card-text {
    font-size: 0.9rem;
}

.col-4 {
    width: 30%;
    }
}


@font-face {
    font-family: Martel;
    font-style: normal;
    font-weight: 400;
    src: url(https://d39-a.sdn.cz/d_39/c_static_gZ_G/kK0CM/fonts/Martel/martel-regular.woff2) format("woff2"), url(https://d39-a.sdn.cz/d_39/c_static_gZ_G/kK0CM/fonts/Martel/martel-regular.woff) format("woff"), url(https://d39-a.sdn.cz/d_39/c_static_gZ_G/kK0CM/fonts/Martel/martel-regular.ttf) format("truetype");
    font-display: optional
}

@font-face {
    font-family: Martel;
    font-style: normal;
    font-weight: 700;
    src: url(https://d39-a.sdn.cz/d_39/c_static_gZ_G/kK0CM/fonts/Martel/martel-extrabold.woff2) format("woff2"), url(https://d39-a.sdn.cz/d_39/c_static_gZ_G/kK0CM/fonts/Martel/martel-extrabold.woff) format("woff"), url(https://d39-a.sdn.cz/d_39/c_static_gZ_G/kK0CM/fonts/Martel/martel-extrabold.ttf) format("truetype");
    font-display: optional
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    src: url(https://d39-a.sdn.cz/d_39/c_static_gZ_G/kK0CM/fonts/Montserrat/montserrat-regular-webfont.woff2) format("woff2"), url(https://d39-a.sdn.cz/d_39/c_static_gZ_G/kK0CM/fonts/Montserrat/montserrat-regular-webfont.woff) format("woff"), url(https://d39-a.sdn.cz/d_39/c_static_gZ_G/kK0CM/fonts/Montserrat/montserrat-regular-webfont.ttf) format("truetype");
    font-display: optional
}

@font-face {
    font-family: Montserrat;
    font-style: bold;
    font-weight: 700;
    src: url(https://d39-a.sdn.cz/d_39/c_static_QI_F/AJ2Fe/montserrat-bold-webfont.woff2) format("woff2"), url(https://d39-a.sdn.cz/d_39/c_static_QI_F/AJ2Fe/montserrat-bold-webfont.woff) format("woff"), url(https://d39-a.sdn.cz/d_39/c_static_QI_F/AJ2Fe/montserrat-bold-webfont.ttf) format("truetype");
    font-display: optional
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Martel, Georgia, Calisto MT, serif;
    font-weight: 800;
    color: #372C2C;
}

h3 {
    font-size: 1rem;
margin-bottom: 0;
margin-top: 6px;
    }

p {
    font-family: Martel, Georgia, Calisto MT, serif;
    color: #372C2C;
}

.progress {
    background-color: #fff;
    border-radius: 0;
}

.bg-warning {
    --bs-bg-opacity: 1;
    background-color: rgba(160, 93, 93, var(--bs-bg-opacity))!important;
}

#on-screen {
    background-color: #fcecec;
}

.container {
    background-color: #fcecec!important;
    border: none;
    color: #372C2C;
    padding: 1em;
}

.card-header {
    background-color: #fcecec;
    border-bottom: 1px solid #a05d5d;
    font-family: Montserrat, Verdana, sans-serif;
    color: #372C2C;
}

.card-body {
    background-color: #fcecec;
    color: #372C2C;
}

.btn {
    font-family: Montserrat, Verdana, sans-serif;
    font-size: 14px;
    letter-spacing: 1pt;
    font-weight: 700;
    border-radius: 0;
}

.btn-outline-primary {
    color: #a05d5d;
    border-color: #a05d5d;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #a05d5d;
    border-color: #a05d5d;
}

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: #fff;
    background-color: #a05d5d;
    border-color: #a05d5d;
}

.btn-outline-secondary {
    color: #999;
    border-color: #999;
}

.btn-outline-secondary:hover {
    color: #000;
    background-color: #999;
    border-color: #999;
}

.text-muted:hover {
    --bs-text-opacity: 1;
    color: #333!important;
}

.list-group-item {
    font-family: Montserrat, Verdana, sans-serif;
    font-size: 14px;
}


.btn-primary { 
    border:none;
    background-color: #a05d5d;
    color: #fff;
    }


.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #704141;
    color: #fff;
}

.btn-secondary {
    background-color: #d8d8d8;
    border: none;
    }

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
    background-color: #999;
    color: #ffffff;
    }
</style>