<template>
  <div class="container page">

    <div class="card mb-3 p-4">
      Inventura hlasování Poslanecké sněmovny 2017-2021 ukazuje vaši shodu s&nbsp;poslankyněmi a poslanci na základě skutečných hlasování ze Sněmovny.
    </div>
    <hr/>
    <div class="d-grid gap-2">
      <NuxtLink to="/question/1/" class="btn btn-success btn-lg">✋ SPUSTIT INVENTURU HLASOVÁNÍ 2017-2021</NuxtLink>
    </div>
  </div>
</template>

<script>
// import Darujme from "~/components/Darujme.vue"

export default {
  head: function() {
    return {
      title: 'Inventura hlasování 2017-2021',
      meta: [
        {
          hid: 'index',
          name: 'Inventura hlasování',
          description: 'Inventura hlasování 2017-2021'
        }
      ]
    }
  },
  components: {
    // Darujme
  }
}
</script>

<style scoped>
  .page {
    /* size depends on sizes of header */
    min-height: calc(100vh - 84px);
    max-width: 666px;
  }
</style>