<template>
  <div class="container page">
    <h2 class="pt-2">
      <span>Moje uložené vyplněné kalkulačky</span>
      <small><small>
        <sup class="badge rounded-pill bg-secondary">Experimentální</sup>
      </small></small>
    </h2>
    <p class="alert alert-info">
      Info: Tyto výsledky kalkulaček jsou uložené pouze v prohlížeči, nikam se neposílají.
    </p>
    <StoredCalcs />
  </div>
</template>
<script>



export default {
  head: function() {
    return {
      title: 'Inventura hlasování 2017-2021 - moje vyplněné volební kalkulačky',
      meta: [
        {
          hid: 'me',
          name: 'Moje vyplněné volební kalkulačky',
          description: 'Inventura hlasování 2017-2021 - moje vyplněné volební kalkulačky'
        }
      ]
    }
  },
}
</script>
<style scoped>
  .page {
    /* size depends on sizes of header */
    min-height: calc(100vh - 84px);
    max-width: 666px;
  }
</style>